[submodule "managedit-openstack-setup"]
	path = managedit-openstack-setup
	url = https://github.com/managedit/openstack-setup.git
[submodule "devstack"]
	path = devstack
	url = https://github.com/openstack-dev/devstack.git
[submodule "packstack"]
	path = packstack
	url = https://github.com/stackforge/packstack.git
[submodule "openstackgeek"]
	path = openstackgeek
	url = https://github.com/StackGeek/openstackgeek.git
[submodule "openstack_folsom_deploy"]
	path = openstack_folsom_deploy
	url = https://github.com/jedipunkz/openstack_folsom_deploy.git
[submodule "dodai-deploy"]
	path = dodai-deploy
	url = https://github.com/nii-cloud/dodai-deploy.git
[submodule "puppet-openstack"]
	path = puppet-openstack
	url = https://github.com/stackforge/puppet-openstack.git
[submodule "OneStack"]
	path = OneStack
	url = https://github.com/Kayven/OneStack.git
[submodule "EmilienM-doc-openstack"]
	path = EmilienM-doc-openstack
	url = https://github.com/EmilienM/doc-openstack.git
